# Shared infra
MONGO_URI=mongodb://localhost:27017/gym_management
REDIS_URL=redis://localhost:6379

# Platform API
PLATFORM_API_PORT=4000
PLATFORM_API_PREFIX=/api
PLATFORM_JWT_SECRET=replace_this_with_long_secret
PLATFORM_JWT_EXPIRES_IN=1d

# Automation Service
AUTOMATION_API_PORT=4001
AUTOMATION_API_PREFIX=/api
WHATSAPP_WEBHOOK_VERIFY_TOKEN=replace_verify_token
